.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18vh;
}

.contact-container {
    width: 60%;
    display: grid;
}

.contact-header > h1{
    margin: 0;
    padding: 0;
    font-size: 3em;
}

@media (max-width: 686px) {
    .contact-header > h1 {
        font-size: 2.6em;
    }
}

@media (max-width: 600px) {
    .contact-header > h1 {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .contact-header > h1 {
        font-size: 1.7em;
    }
}

@media (max-width: 380px) {
    .contact-header > h1 {
        font-size: 1.6em;
    }
}