
.ProjectDisplay {
    display: grid;
    grid-template-rows: 70px auto auto auto;
    grid-template-columns: auto min-content min-content ;
    grid-template-areas: 
    "header image image"
    "description image image"
    "description image image"
    "links links links"
    ;
    margin: 10px;
    padding: 15px;
    background-color: var(--midtone-color);
    color: var(--dark-color);
    column-gap: 10px;
    width: 100%;
}

.align-img-left {
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "image image header"
    "image image description"
    "image image description"
    "links links links"
    ;
}

.align-img-right > img{
    align-self: end;
}

.ProjectDisplay > h2 {
    grid-area: header;
    padding: 0;
    margin: 0;
}

.ProjectDisplay > p {
    grid-area: description;
    padding: 0;
    margin: 0;
    justify-self: top;
}

.ProjectDisplay > img {
    grid-area: image;
    width: 400px;
}

.ProjectDisplay > .links {
    grid-area: links;
}

@media (max-width: 1116px){
    .ProjectDisplay > img {
        width: 200px;
    }
}