
.ResumeButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.ResumeButton > button {
  padding: 10px;
  font-weight: bold;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-radius: 3px;
  transition: background-color 200ms ease-out 50ms;
}

.ResumeButton > button:hover {
  background-color: var(--dark-color-accent);
}
