
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --dark-color: #bb6700;
  --dark-color-accent: #bb1600;
  --light-color: #ffe993;
  --midtone-color: #e0c55a;
}


/* Direct element styling */
body {
  margin: 0;
  background-color: var(--light-color);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--dark-color-accent);
  text-decoration: none;
  font-weight: bold;
}


/* Generic styles */
.subtitle-text {
  margin: 0;
  padding: 5px;
  font-style: italic;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: .8em;
}

.generic-header-h2 {
  font-size: 2em;
}

a.no-bold {
  font-weight: normal;
  text-decoration: underline;
}


/* Styles related to the the <App/> element's direct children, and generic custom elements */
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--dark-color);
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  padding: 10px;
}

.social-links {
  font-size: 1em;
  display: inline;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  font-weight: 600;
}

/* Styles related to the <Home /> page */
.home {
  margin: 25px;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-areas: "main sidebar";
  width: 60%;;
}

@media (max-width: 800px){ /* Media query for homepage layout */

  .home {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "main";
  }

  .home-sidebar {
    display: none;
  }
}

.home-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: main;
}

.home-sidebar {
  grid-area: sidebar;
}

.home-header {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: 
    "header header socials"
    "bio bio bio"
    "body body body";
  padding: 10px;
}

.home-header-header {
  grid-area: header;
  font-size: 3em;
  margin: 0;
  margin-bottom: .25em;
}

@media (max-width: 200px){
  .home-header-header {
    font-size: 1.5em;
  }
}

.home-bio {
  grid-area: bio;
  margin: 0;
}

.home-socials {
  grid-area: socials;
  justify-self: right;
  margin: 0;
}

.home-body-content {
  grid-area: body;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.semi-transparent {
  opacity: 40%;
}

.media-and-description-container {
  display: grid;
  grid-template-areas: "media media" "description description";
  /* background-color: var(--dark-color); */

}

.media-grid-item {
  grid-area: media;
}

.media-description-grid-item {
  grid-area: description;
}

/* Styles related to the <Projects /> page */

.projects {
  display: grid;
  margin: 10px;
}

.projects-header {
  align-self: center;
  display: grid;
  grid-template-areas: "header" "description";
  align-items: center;
}

.projects-header-header {
  align-self: center;
  grid-area: header;
  margin-bottom: 0px;
}

.projects-header-description {
  grid-area: description
}