@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --dark-color: #bb6700;
  --dark-color-accent: #bb1600;
  --light-color: #ffe993;
  --midtone-color: #e0c55a;
}

body {
  margin: 0;
  background-color: var(--light-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--dark-color-accent);
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--dark-color);
}

.navbar {
  width: 100%;
}

.home {
  margin: 25px;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-areas: "main sidebar";
  width: 60%;
}

@media (max-width: 800px){ /* Media query for homepage layout */

  .home {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "main";
  }

  .home-sidebar {
    display: none;
  }
}

.home-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: main;
}

.home-sidebar {
  grid-area: sidebar;
}

.home-header {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: 
    "header header socials"
    "bio bio bio"
    "body body body";
  padding: 10px;
}

.home-header-header {
  grid-area: header;
  font-size: 3em;
  margin: 0;
  margin-bottom: .25em;
  font-family: 'Bebas Neue', cursive;
}

@media (max-width: 200px){
  .home-header-header {
    font-size: 1.5em;
  }
}

.home-bio {
  grid-area: bio;
  margin: 0;
}

.home-socials {
  grid-area: socials;
  font-size: 1.5em;
  justify-self: right;
  margin: 0;
}

.home-body-content {
  grid-area: body;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.semi-transparent {
  opacity: 40%;
}

.media-and-description-container {
  display: grid;
  grid-template-areas: "media media" "description description";
  /* background-color: var(--dark-color); */

}

.media-grid-item {
  grid-area: media;
}

.media-description-grid-item {
  grid-area: description;
}

.subtitle-text {
  margin: 0;
  padding: 5px;
  font-style: italic;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: .8em;
}